<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    
    <%-include('./partials/nav.ejs')  %>

    <div class="about content">
        <h2>About us</h2>
        <P>this blog site is created by me,so that i can do the following things</P>
        <ul>
            <li>To write daily</li>
            <li>Try to make this project even bigger</li>
          
        </ul>
       
        
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>